<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121012062157-6i886a31nek2k59noh0ssi9lreqg76hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121012062157-6i886a31nek2k59noh0ssi9lreqg76hc</string>
	<key>API_KEY</key>
	<string>AIzaSyD6VLDJSuUJg9H6Fwv94qGu9V7TqgNNcNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>121012062157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-7d95c</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-7d95c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121012062157:ios:76de8b25baf551b42f6684</string>
</dict>
</plist>